<!--====== Dashboard Features ======-->
<div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
    <div class="dash__pad-1">

        <span class="dash__text u-s-m-b-16">Bonjour, <%= user.Customer_first_name%></span>
        <ul class="dash__f-list">
            <li>

                <a class="dash-active" href="/user/dashboard">Gérer mon compte</a></li>
            <li>

                <a href="/user/dash-my-profile">Mon profil</a></li>
            <li>

                <a href="dash-address-book.html">Carnet d'addresse</a></li>
            <li>

                <a href="dash-track-order.html">Suivre les commande</a></li>
            <li>

                <a href="/user/dash-my-order">Mes commandes</a></li>
            <li>

                <a href="dash-payment-option.html">Mes options de payement</a></li>
            <li>

                <a href="dash-cancellation.html">Mes retours et abandons</a></li>
        </ul>
    </div>
</div>
<div class="dash__box dash__box--bg-white dash__box--shadow dash__box--w">
    <div class="dash__pad-1">
        <ul class="dash__w-list">
            <li>
                <div class="dash__w-wrap">

                    <span class="dash__w-icon dash__w-icon-style-1"><i class="fas fa-cart-arrow-down"></i></span>

                    <span class="dash__w-text"><%= orders.length %></span>

                    <span class="dash__w-name">Commandes effectuées</span></div>
            </li>
            <li>
                <div class="dash__w-wrap">

                    <span class="dash__w-icon dash__w-icon-style-2"><i class="fas fa-times"></i></span>

                    <span class="dash__w-text">0</span>

                    <span class="dash__w-name">Commandes abandonnées</span></div>
            </li>
            <li>
                <div class="dash__w-wrap">

                    <span class="dash__w-icon dash__w-icon-style-3"><i class="far fa-heart"></i></span>

                    <span class="dash__w-text">0</span>

                    <span class="dash__w-name">Ma liste de souhaits</span></div>
            </li>
        </ul>
    </div>
</div>
<!--====== End - Dashboard Features ======-->