<footer>
		<div class="outer-footer" >
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="outer-footer__content u-s-m-b-40">

							<span class="outer-footer__content-title">Contactez nous</span>
							<div class="outer-footer__text-wrap"><i class="fas fa-home"></i>

								<span>BP : 01 Bobo-Dioulasso 1298, Burkina Faso</span></div>
							<div class="outer-footer__text-wrap"><i class="fas fa-phone-volume"></i>

								<span>(+226) 64742101 / 72494929 / 69695927</span></div>
							<div class="outer-footer__text-wrap"><i class="far fa-envelope"></i>

								<span>info@yennega.com</span></div>
							<div class="outer-footer__social">
								<ul>
									<li>

										<a class="s-fb--color-hover" href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li>

										<a class="s-tw--color-hover" href="#"><i class="fab fa-twitter"></i></a></li>
									<li>

										<a class="s-youtube--color-hover" href="#"><i class="fab fa-youtube"></i></a></li>
									<li>

										<a class="s-insta--color-hover" href="#"><i class="fab fa-instagram"></i></a></li>
									<li>

										<a class="s-gplus--color-hover" href="#"><i class="fab fa-google-plus-g"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="row">
							<div class="col-lg-6 col-md-6">
								<div class="outer-footer__content u-s-m-b-40">

									<span class="outer-footer__content-title">Information</span>
									<div class="outer-footer__list-wrap">
										<ul>
											<li>

												<a href="/cart">Panier</a></li>
											<li>

												<a href="/user/dashboard">Compte</a></li>
											<li>

												<a href="/articles">Catégorie</a></li>
											
											<li>

												<a href="/articles">Articles</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="outer-footer__content u-s-m-b-40">
									<div class="outer-footer__list-wrap">

										<span class="outer-footer__content-title">Notre entreprise</span>
										<ul>
											<li>

												<a href="/about">A propos de nous</a></li>
											<li>

												<a href="/contact">Contactez Nous</a></li>
											<li>

												<a href="/contact">Sitemap</a></li>
											<li>

												<a href="/user/dash-my-order">Livraison</a></li>
											<li>

												<a href="/articles">Notre Stock</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12">
						<div class="outer-footer__content">

							<span class="outer-footer__content-title">Ecrivez nous</span>
							<form class="newsletter">
								<div class="u-s-m-b-15">
									<div class="radio-box newsletter__radio">

										<input type="radio" id="male" name="gender">
										<div class="radio-box__state radio-box__state--primary">

											<label class="radio-box__label" for="male">Homme</label></div>
									</div>
									<div class="radio-box newsletter__radio">

										<input type="radio" id="female" name="gender">
										<div class="radio-box__state radio-box__state--primary">

											<label class="radio-box__label" for="female">Femme</label></div>
									</div>
								</div>
								<div class="newsletter__group">

									<label for="newsletter"></label>

									<input class="input-text input-text--only-white" type="text" id="newsletter" placeholder="Enter your Email">

									<button class="btn btn--e-brand newsletter__btn" type="submit">Envoyer</button></div>

								<span class="newsletter__text">Ecrivez nous pour être les premiers à connaître les nouveautés , les derniers arrivages et promotions</span>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="lower-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="lower-footer__content">
							<div class="lower-footer__copyright">

								<span>Copyright © 2023</span>

								<a href="/accueil">Yennega</a>

								<span>Tous droits réservés</span></div>
							<div class="lower-footer__payment">
								<ul>
									<li><i class="fab fa-cc-stripe"></i></li>
									<li><i class="fab fa-cc-paypal"></i></li>
									<li><i class="fab fa-cc-mastercard"></i></li>
									<li><i class="fab fa-cc-visa"></i></li>
									<li><i class="fab fa-cc-discover"></i></li>
									<li><i class="fab fa-cc-amex"></i></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</footer>