<!DOCTYPE html>
<html class="no-js" lang="en">
<%- include("partials/head") %>
<body class="config">
    <div class="preloader is-active">
        <div class="preloader__wrap">

            <img class="preloader__img" src="images/preloader.png" alt=""></div>
    </div>

    <!--====== Main App ======-->
    <div id="app">

        <!--====== Main Header ======-->
        <%- include("partials/header") %>
        <!--====== End - Main Header ======-->


        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="/accueil">Accueil</a></li>
                                    <li class="is-marked">

                                        <a href="/about">A propos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="about">
                                    <div class="about__container">
                                        <div class="about__info">
                                            <h2 class="about__h2">Bienvenue à Yennega!</h2>
                                            <div class="about__p-wrap">
                                                <p class="about__p">Yennega est une entreprise résolument tournée vers l'avenir, offrant une solution tout-en-un pour le e-commerce au Burkina Faso. Notre nom, inspiré de la princesse Yennega, figure emblématique du Burkina Faso,
                                                     symbolise la force, la persévérance et la vision pour un avenir meilleur.
                                                      Tout comme Yennega a forgée un chemin unique pour sa communauté, Yennega vise à transformer le paysage commercial burkinabè et sous régionale.</p>
                                            </div>

                                            <a class="about__link btn--e-secondary" href="/articles" target="_blank">Achetez maintenant</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="about">
                                    <div class="about__container">
                                        <div class="about__info">
                                            <h2 class="about__h2">Politiques & Conditions d'Utilisation de Yennega </h2>
                                            <div class="about__p-wrap">
                                                <p class="about__p"><div id="introduction">
                                                    <strong>1. Introduction</strong>
                                                    <p>Bienvenue sur Yennega, la plateforme de commerce électronique au Burkina Faso, dédiée à la promotion des PME/PMI (Promouvoir le Commerce Local grâce au pouvoir de l'Internet). L'utilisation de Yennega est soumise aux conditions suivantes. En accédant à notre plateforme, vous acceptez de vous conformer à ces conditions.</p>
                                                </div>
                                            
                                                <div id="inscription-vendeurs">
                                                    <strong>2. Inscription des Vendeurs</strong>
                                                    <div id="eligibilite">
                                                        <strong>2.1 Critères d'Éligibilité</strong>
                                                        <p>Pour devenir vendeur de produits/services sur Yennega, vous devez fournir des informations d'identification précises, ainsi que les documents légaux de votre entreprise, y compris RCCM (Régie du Commerce et du Crédit Mobilier) et l'Identifiant Financier Unique (IFU) pour les entreprises formelles. Les commerces informels sont également les bienvenus et peuvent bénéficier d'un accompagnement pour leur formalisation (Être Inscrite, sur le Registre du Commerce, par la Maison de l'Entreprise / Chambre de Commerce burkinabè).</p>
                                                    </div>
                                            
                                                    <div id="frais-commissions">
                                                        <strong>2.2 Frais et Commissions</strong>
                                                        <p>Yennega facturera aux vendeurs une commission de 1% sur chaque vente effectuée sur la plateforme.</p>
                                                    </div>
                                                </div>
                                            
                                                <div id="politique-livraison">
                                                    <strong>3. Politique de Livraison</strong>
                                                    <div id="livraison-standard">
                                                        <strong>3.1 Délais de Livraison Standard</strong>
                                                        <p>Les vendeurs sur Yennega s'engagent à respecter un délai de livraison standard national de 3 jours maximum pour les produits considérés comme légers, tandis que les produits nécessitant une logistique plus importante peuvent nécessiter un délai plus long. Les délais de livraison internationaux seront évalués au cas par cas.</p>
                                                    </div>
                                            
                                                    <div id="livraison-express">
                                                        <strong>3.2 Livraison Express</strong>
                                                        <p>Une option de livraison express est disponible sur demande, avec des frais calculés en fonction du poids du produit. Les détails de la livraison express seront fournis lors de la commande.</p>
                                                    </div>
                                            
                                                    <div id="evaluation-vendeurs">
                                                        <strong>3.3 Évaluation de la Performance des Vendeurs</strong>
                                                        <p>Les vendeurs seront évalués par les acheteurs à travers des évaluations en étoiles. De plus, Yennega attribuera une accréditation ou certification aux vendeurs de confiance, renforçant ainsi leur crédibilité auprès des clients.</p>
                                                    </div>
                                                </div>
                                            
                                                <div id="contenu-annonces">
                                                    <strong>4. Contenu des Annonces</strong>
                                                    <p>Toutes les annonces et publications sur Yennega doivent être conformes à la loi. Nous interdisons strictement l'annonce/publication pour la vente de produits ou services illégaux, tels que les drogues, ou tous produits ou services interdit par la loi burkinabè, et les armes illicites.</p>
                                                </div>
                                            
                                                <div id="gestion-litiges">
                                                    <strong>5. Gestion des Litiges</strong>
                                                    <p>Les vendeurs s'engagent à rembourser le prix d'achat d'une marchandise si la qualité n'est pas conforme aux normes ou si le produit envoyé n'est pas celui commandé, en acceptant les conditions d'utilisation. Les litiges seront gérés de manière équitable par notre équipe de support.</p>
                                                </div>
                                            
                                                <div id="conformite-lois">
                                                    <strong>6. Conformité aux Lois et Réglementations</strong>
                                                    <p>Yennega s'engage à respecter toutes les lois et réglementations locales liées au commerce électronique au Burkina Faso.</p>
                                                </div>
                                            
                                                <div id="informations-pertinentes">
                                                    <strong>7. Autres Informations Pertinentes</strong>
                                                    <p>Nous ajoutons régulièrement des informations pertinentes pour faciliter l'utilisation de Yennega et le succès de nos utilisateurs.</p>
                                                </div></p>
                                            </div>

                                            <a class="about__link btn--e-secondary" href="/articles" target="_blank">Achetez maintenant</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>


            <!--====== Section 3 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-46">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary">Les membres de notre équique</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6 u-s-m-b-30">
                                <div class="team-member u-h-100">
                                    <div class="team-member__wrap">
                                        <div class="aspect aspect--bg-grey-fb aspect--square">
                                            <img class="aspect__img team-member__img" src="images/about/ceo_member.jpg" alt=""></div>
                                        <div class="team-member__social-wrap">
                                            <ul class="team-member__social-list">
                                                <!-- <li>

                                                    <a class="s-tw--bgcolor-hover" href="#"><i class="fab fa-twitter"></i></a></li> -->
                                                <li>

                                                    <a class="s-fb--bgcolor-hover" href="https://www.facebook.com/djabir.ouedraogo"><i class="fab fa-facebook-f"></i></a></li>
                                                <li>

                                                    <a class="s-insta--bgcolor-hover" href="https://www.instagram.com/djabir_marwan/"><i class="fab fa-instagram"></i></a></li>
                                                <li>

                                                    <a class="s-linked--bgcolor-hover" href="#"><i class="fab fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="team-member__info">

                                        <span class="team-member__name">Djabir Marwan OUEDRAOGO                                        </span>

                                        <span class="team-member__job-title">Fondateur & CEO, Yennega / GROUPE ORACLE</span></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 u-s-m-b-30">
                                <div class="team-member u-h-100">
                                    <div class="team-member__wrap">
                                        <div class="aspect aspect--bg-grey-fb aspect--square">

                                            <img class="aspect__img team-member__img" src="images/about/member-2.jpg" alt=""></div>
                                        <div class="team-member__social-wrap">
                                            <ul class="team-member__social-list">
                                                <li>

                                                    <a class="s-tw--bgcolor-hover" href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li>

                                                    <a class="s-fb--bgcolor-hover" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li>

                                                    <a class="s-insta--bgcolor-hover" href="#"><i class="fab fa-instagram"></i></a></li>
                                                <li>

                                                    <a class="s-linked--bgcolor-hover" href="#"><i class="fab fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="team-member__info">

                                        <span class="team-member__name">Joseph Min</span>

                                        <span class="team-member__job-title">UI, Designer</span></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 u-s-m-b-30">
                                <div class="team-member u-h-100">
                                    <div class="team-member__wrap">
                                        <div class="aspect aspect--bg-grey-fb aspect--square">

                                            <img class="aspect__img team-member__img" src="images/about/member-3.jpg" alt=""></div>
                                        <div class="team-member__social-wrap">
                                            <ul class="team-member__social-list">
                                                <li>

                                                    <a class="s-tw--bgcolor-hover" href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li>

                                                    <a class="s-fb--bgcolor-hover" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li>

                                                    <a class="s-insta--bgcolor-hover" href="#"><i class="fab fa-instagram"></i></a></li>
                                                <li>

                                                    <a class="s-linked--bgcolor-hover" href="#"><i class="fab fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="team-member__info">

                                        <span class="team-member__name">Mike Pipe</span>

                                        <span class="team-member__job-title">App, Architect</span></div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 u-s-m-b-30">
                                <div class="team-member u-h-100">
                                    <div class="team-member__wrap">
                                        <div class="aspect aspect--bg-grey-fb aspect--square">

                                            <img class="aspect__img team-member__img" src="images/about/member-4.jpg" alt=""></div>
                                        <div class="team-member__social-wrap">
                                            <ul class="team-member__social-list">
                                                <li>

                                                    <a class="s-tw--bgcolor-hover" href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li>

                                                    <a class="s-fb--bgcolor-hover" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li>

                                                    <a class="s-insta--bgcolor-hover" href="#"><i class="fab fa-instagram"></i></a></li>
                                                <li>

                                                    <a class="s-linked--bgcolor-hover" href="#"><i class="fab fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="team-member__info">

                                        <span class="team-member__name">Klronr Jim</span>

                                        <span class="team-member__job-title">Team Leader</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 3 ======-->

            <!--====== Section 4 ======-->

            <!--====== End - Section 4 ======-->

            <!--====== Section 5 ======-->
            <div class="u-s-p-b-90 u-s-m-b-30">

                <!--====== Section Intro ======-->
                <div class="section__intro u-s-m-b-46">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section__text-wrap">
                                    <h1 class="section__heading u-c-secondary u-s-m-b-12">AVIS DE NOS CLIENTS</h1>

                                    <span class="section__span u-c-silver">CE QUE DISENT NOS CLIENTS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Intro ======-->


                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">

                        <!--====== Testimonial Slider ======-->
                        <div class="slider-fouc">
                            <div class="owl-carousel" id="testimonial-slider">
                                <div class="testimonial">
                                    <div class="testimonial__img-wrap">

                                        <img class="testimonial__img" src="images/about/test-1.jpg" alt=""></div>
                                    <div class="testimonial__content-wrap">

                                        <span class="testimonial__double-quote"><i class="fas fa-quote-right"></i></span>
                                        <blockquote class="testimonial__block-quote">
                                            <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
                                        </blockquote>

                                        <span class="testimonial__author">John D. / DVNTR Inc.</span>
                                    </div>
                                </div>
                                <div class="testimonial">
                                    <div class="testimonial__img-wrap">

                                        <img class="testimonial__img" src="images/about/test-2.jpg" alt=""></div>
                                    <div class="testimonial__content-wrap">

                                        <span class="testimonial__double-quote"><i class="fas fa-quote-right"></i></span>
                                        <blockquote class="testimonial__block-quote">
                                            <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
                                        </blockquote>

                                        <span class="testimonial__author">John D. / DVNTR Inc.</span>
                                    </div>
                                </div>
                                <div class="testimonial">
                                    <div class="testimonial__img-wrap">

                                        <img class="testimonial__img" src="images/about/test-3.jpg" alt=""></div>
                                    <div class="testimonial__content-wrap">

                                        <span class="testimonial__double-quote"><i class="fas fa-quote-right"></i></span>
                                        <blockquote class="testimonial__block-quote">
                                            <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
                                        </blockquote>

                                        <span class="testimonial__author">John D. / DVNTR Inc.</span>
                                    </div>
                                </div>
                                <div class="testimonial">
                                    <div class="testimonial__img-wrap">

                                        <img class="testimonial__img" src="images/about/test-4.jpg" alt=""></div>
                                    <div class="testimonial__content-wrap">

                                        <span class="testimonial__double-quote"><i class="fas fa-quote-right"></i></span>
                                        <blockquote class="testimonial__block-quote">
                                            <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
                                        </blockquote>

                                        <span class="testimonial__author">John D. / DVNTR Inc.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--====== End - Testimonial Slider ======-->
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 5 ======-->
        </div>
        <!--====== End - App Content ======-->


        <!--====== Main Footer ======-->
        <%- include("partials/footer") %>
        
    </div>
    <!--====== End - Main App ======-->


    <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
    <%- include("partials/scripts") %>
</body>
</html>