<html>
	<%- include("partials/head") %>
	<body class="config">
		<% if (singer === "singuilla"){ %>
			<h1> Voyez moi tout ce que vous faites de <%= singer %></h1>
		
		<% } else { %>
			<h1>
				Je suis un ninja , un guerrier
		    </h1>
		<% } %>
	</body>
	<%- include ("partials/footer") %>
</html>
